div(class='container-fluid')

  div(class='row')
    div(class='col-xs-12', id='showcase')
    
      div(class='gmc-fixed-bg gmc-bg-1')
      
        div(class='intro-card')
          h1 Mechanical Flight
          h3 Web work<br/>by Greg McClure
          ul
            li 
              a(href='https://twitter.com/dreamlogick', target='_blank') Twitter &mdash; /dreamlogick
            li
              a(href='https://github.com/gmcclure', target='_blank') GitHub &mdash; /gmcclure
            li
              a(href='https://www.linkedin.com/in/gmcclure', target='_blank') LinkedIn &mdash; /in/gmcclure
            li
              a(href='http://freecodecamp.com/gmcclure', target='_blank') FreeCodeCamp &mdash; /gmcclure

      
      div(class='gmc-scrolling-bg gmc-color-2', id='about')
        div(class='container portfolio')
          h1 Recent Flights
          div(class='row')
            div(class='col-xs-4')
              span(class='work-title') Wordbites
              div(class='work-frame')
                a(href='http://codepen.io/gmcclure/full/QbBGEm/', target='_blank')
                  img(src='https://s3-us-west-2.amazonaws.com/gmc-data/Misc/wordbites.jpg')
            div(class='col-xs-4')
              span(class='work-title') The Horror of Weather
              div(class='work-frame')
                a(href='http://codepen.io/gmcclure/full/bdzwwM/', target='_blank')
                  img(src='https://s3-us-west-2.amazonaws.com/gmc-data/Misc/the-horror-of-weather.jpg')
            div(class='col-xs-4')
              span(class='work-title') The Twitching Hour
              div(class='work-frame')
                a(href='http://codepen.io/gmcclure/full/EjJqMB/', target='_blank')
                  img(src='https://s3-us-west-2.amazonaws.com/gmc-data/Misc/the-witching-hour.jpg')        
        
      div(class='gmc-fixed-bg gmc-bg-2')
        div(class='quote-card')
          p All the calculations show it can't work. There's only one thing to do: make it work.<br/>
            attrib &mdash; Pierre Georges Latécoère, early French aviation entrepreneur
      
      div(class='gmc-scrolling-bg gmc-color-1', id='portfolio')
        div(class='color-content about')
          h1 About Greg McClure
          p I'm a Web developer based in Irvine, California. I've developed applications using Rails, Django, ASP.Net, and Wordpress, for clients including Prudential, Century 21, Duffy Boats, and Marine Reef International. Currently, I make things with front-end technologies like HTML5, CSS3, Javascript, Angular, &amp; Node.
          p I'm not going to give you some hokum about making your ideas fly. I'm happy to make an awesome site for you, though, and if you want to strap it to your back and jump off a cliff with it, I'll make sure you're as aerodynamic as possible.
          
        div(class='color-content about-picture')
          img(src='https://s3-us-west-2.amazonaws.com/gmc-data/Misc/gmc3.jpg')
        
      div(class='gmc-fixed-bg gmc-bg-3')
        div(class='quote-card-2')
          p Any sufficiently advanced technology is indistinguishable from magic.<br/>
            attrib &mdash; Arthur C. Clarke
      
      div(class='gmc-color-3', id='footer')
        div(class='footer-info')
          | Greg McClure &mdash; gmcclure@gmail.com
